@import "ember-bootstrap/bootstrap";

.recipe-image{
  min-height: 300px;
  background-size: cover;
  background-position: center;
  &.wide{
    min-height: 800px;
  }
}
.details{
  .recipe-image{
    min-height: 500px;
  }
}

.nested-model {
  .input-group {
    margin-bottom: 10px;
    .input-group-addon.remove {
      padding: 0;
    }
  }
}
